<html>
<head>
	<title>Training</title>
</head>
<body>
<p>Hello Yose !</p>
<a id="repository-link" href="https://github.com/rfkdali/yose-rf/blob/master/README.md">readme</a>

<a id="contact-me-link" href="contact">Contact me</a>
<a id="ping-challenge-link" href="ping">Ping challenge</a>
</body>
</html>